@import "tailwindcss";

html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #0d542b; */
  height: 100vh;
}
